.hello {
  color: red;
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.body{
  width: 100%;
}

.seccion p {
  font-size: 18px;
  font-family:monospace;
}

.titler {
  font-family:monospace;
  font-size: 60px;
  width: 100%;
  text-align: center;
  }
